<section class="py-4">
  <div class="container">
    <div
      class="card mb-5"
      style="color: var(--bs-dark); background: var(--bs-gray-900)"
    >
      <div
        class="card-body p-sm-5"
        id="contacto"
        style="color: var(--bs-card-border-color)"
      >
        <h2 class="text-center text-light mb-4">Contáctame.</h2>
        <form data-bss-recipient="28767a61796831137878e5271820f11d">
          <!-- Start: Success Example -->
          <div class="mb-3">
            <input
              class="form-control"
              type="text"
              id="name-2"
              name="name"
              placeholder="Ingresa tu nombre aquí."
              required=""
            />
          </div>
          <!-- End: Success Example -->
          <!-- Start: Error Example -->
          <div class="mb-3">
            <input
              class="form-control"
              type="email"
              id="email-2"
              name="email"
              placeholder="Ingresa tu dirección de correo aquí."
              required=""
            />
          </div>
          <!-- End: Error Example -->
          <div class="mb-3">
            <textarea
              class="form-control"
              id="message-2"
              name="message"
              rows="6"
              placeholder="Escribe tu mensaje aquí."
              required=""
            ></textarea>
          </div>
          <div>
            <button
              class="btn btn-primary d-block w-100"
              type="submit"
              style="
                color: var(--bs-body-color);
                background: rgb(28, 61, 202);
              "
            >
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
