<section class="py-4">
  <div class="container">
    <h2 class="text-center">Mis proyectos</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 py-5 projects">
      <div class="col">
        <div class="card">
          <img
            class="card-img w-100 d-block"
            src="assets/img/pexels-christina-morillo-1181675.jpg"
          />
          <div class="card-img-overlay">
            <h4
              class="text-center"
              style="
                background: var(--bs-primary);
                border-radius: 10px;
                border-color: var(--bs-primary);
              "
            >
              Proyecto Ejemplo
            </h4>
            <p
              class="text-center"
              style="background: var(--bs-gray-900); border-radius: 10px"
            >
              Este es un proyecto de ejemplo
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            class="card-img w-100 d-block"
            src="assets/img/pexels-designecologist-1779487.jpg"
          />
          <div class="card-img-overlay">
            <h4
              class="text-center"
              style="
                background: var(--bs-primary);
                border-radius: 10px;
                border-color: var(--bs-primary);
              "
            >
              Proyecto Ejemplo
            </h4>
            <p
              class="text-center"
              style="background: var(--bs-gray-900); border-radius: 10px"
            >
              Este es un proyecto de ejemplo
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            class="card-img w-100 d-block"
            src="assets/img/pexels-josh-sorenson-1714208.jpg"
          />
          <div class="card-img-overlay">
            <h4
              class="text-center"
              style="
                background: var(--bs-primary);
                border-radius: 10px;
                border-color: var(--bs-primary);
              "
            >
              Proyecto Ejemplo
            </h4>
            <p
              class="text-center"
              style="background: var(--bs-gray-900); border-radius: 10px"
            >
              Este es un proyecto de ejemplo
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            class="card-img w-100 d-block"
            src="assets/img/pexels-mateusz-dach-450035.jpg"
          />
          <div class="card-img-overlay">
            <h4
              class="text-center"
              style="
                background: var(--bs-primary);
                border-radius: 10px;
                border-color: var(--bs-primary);
              "
            >
              Proyecto Ejemplo
            </h4>
            <p
              class="text-center"
              style="background: var(--bs-gray-900); border-radius: 10px"
            >
              Este es un proyecto de ejemplo
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            class="card-img w-100 d-block"
            src="assets/img/pexels-pixabay-459653.jpg"
          />
          <div class="card-img-overlay">
            <h4
              class="text-center"
              style="
                background: var(--bs-primary);
                border-radius: 10px;
                border-color: var(--bs-primary);
              "
            >
              Proyecto Ejemplo
            </h4>
            <p
              class="text-center"
              style="background: var(--bs-gray-900); border-radius: 10px"
            >
              Este es un proyecto de ejemplo
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            class="card-img w-100 d-block"
            src="assets/img/pexels-soumil-kumar-735911.jpg"
          />
          <div class="card-img-overlay">
            <h4
              class="text-center"
              style="
                background: var(--bs-primary);
                border-radius: 10px;
                border-color: var(--bs-primary);
              "
            >
              Proyecto Ejemplo
            </h4>
            <p
              class="text-center"
              style="background: var(--bs-gray-900); border-radius: 10px"
            >
              Este es un proyecto de ejemplo
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
