<header>
  <!-- Start: Parallax Background -->
  <div
    data-bss-parallax-bg="true"
    style="
      height: 600px;
      background-image: url('assets/img/header.jpg');
      background-position: center;
      background-size: cover;
    "
  >
    <div
      class="container d-flex flex-column justify-content-end align-items-start"
    >
      <img
        src={{persona.img}}}
        style="
          border-radius: 100%;
          max-height: 10rem;
          max-width: 10rem;
          border: 3px solid var(--bs-info);
        "
      />
      <h1 class="display-3 fw-bold">{{persona.nombre}}{{persona.apellido}}</h1>
      <p class="fs-2 text-info text-badge mb-5">
        "Full Stack Developer Jr"
      </p>
      <a class="btn btn-dark btn-lg text-uppercase fw-bold text-center" role="button" routerLink="/edit-header/1" *ngIf="isLogged" style="display: inline;">editar perfil&nbsp;<i class="fas fa-pencil-alt"></i></a>
      <br><br>
    </div>
  </div>
  <!-- End: Parallax Background -->
</header>
