<section class="py-4">
  <div class="container">
    <h2 class="text-center">Mis habilidades</h2>
    <!-- Start: Progress Bars Chart -->
    <div class="progress-div">
      <h5>Habilidades "Duras"</h5>
      <div class="progress-title">CSS</div>
      <div class="progress">
        <div
          class="progress-bar bar"
          role="progressbar"
          style="width: 75%"
        ></div>
        <span style="color: black; margin: auto">75%</span>
      </div>
      <div class="progress-title">HTML</div>
      <div class="progress">
        <div
          class="progress-bar bar"
          role="progressbar"
          style="width: 90%"
        ></div>
        <span style="color: black; margin: auto">90%</span>
      </div>
      <div class="progress-title">Java Script</div>
      <div class="progress">
        <div
          class="progress-bar bar"
          role="progressbar"
          style="width: 75%"
        ></div>
        <span style="color: black; margin: auto">65%</span>
      </div>
      <br />
      <h5>Habilidades "Blandas"</h5>
      <div class="progress-title">Comunicación</div>
      <div class="progress">
        <div
          class="progress-bar bar"
          role="progressbar"
          style="width: 75%"
        ></div>
        <span style="color: black; margin: auto">75%</span>
      </div>
      <div class="progress-title">Trabajo en Equipo</div>
      <div class="progress">
        <div
          class="progress-bar bar"
          role="progressbar"
          style="width: 90%"
        ></div>
        <span style="color: black; margin: auto">90%</span>
      </div>
      <div class="progress-title">Responsabilidad</div>
      <div class="progress">
        <div
          class="progress-bar bar"
          role="progressbar"
          style="width: 85%"
        ></div>
        <span style="color: black; margin: auto">85%</span>
      </div>
    </div>
    <!-- End: Progress Bars Chart -->
  </div>
</section>
