<footer class="py-3">
  <!-- Start: 1 Row 2 Columns -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center py-2 mb-0">
        <div>
          <p class="fs-5 fw-bold mb-0">Creado por Dante Zulli.</p>
          <p>
            con&nbsp;<i class="far fa-heart"></i>&nbsp;desde
            Argentina!&nbsp;
          </p>
        </div>
      </div>
      <div
        class="col-md-6 d-flex justify-content-center align-items-center py-2"
      >
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <i class="fab fa-linkedin-in fs-1 me-2"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-github fs-1 me-2"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End: 1 Row 2 Columns -->
</footer>
