<section class="py-4">
  <div class="container">
    <a class="btn btn-dark btn-lg text-uppercase fw-bold text-center mb-5" role="button" routerLink="/edit-sobre-mi/1" *ngIf="isLogged" style="display: inline;">editar descripcion&nbsp;<i class="fas fa-pencil-alt"></i></a>
    <p class="fs-3" id="sobre-mi">
      <br />{{persona.descripcion}}<br /><br />
    </p>
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/dante-zulli/">
          <i class="fab fa-linkedin-in fs-1 me-2"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://github.com/DanteZulli">
          <i class="fab fa-github fs-1 me-2"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
