<section class="py-4">
  <div class="container">
    <h2 class="text-center">Mi experiencia</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 py-4 projects">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <img
              style="
                width: 5rem;
                height: 5rem;
                border-radius: 100%;
                border-style: solid;
                border-color: var(--bs-dark);
              "
              src="assets/img/work-from-home.png"
            />
            <h4 class="text-dark card-title">Experiencia de Ejemplo</h4>
            <h6 class="text-muted card-subtitle mb-2">
              Nombre de la empresa
            </h6>
            <p class="text-dark card-text">
              Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
              justo odio, dapibus ac facilisis in, egestas eget quam.
              Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <img
              style="
                width: 5rem;
                height: 5rem;
                border-radius: 100%;
                border-style: solid;
                border-color: var(--bs-dark);
              "
              src="assets/img/work-from-home.png"
            />
            <h4 class="text-dark card-title">Experiencia de Ejemplo</h4>
            <h6 class="text-muted card-subtitle mb-2">
              Nombre de la empresa
            </h6>
            <p class="text-dark card-text">
              Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
              justo odio, dapibus ac facilisis in, egestas eget quam.
              Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <img
              style="
                width: 5rem;
                height: 5rem;
                border-radius: 100%;
                border-style: solid;
                border-color: var(--bs-dark);
              "
              src="assets/img/work-from-home.png"
            />
            <h4 class="text-dark card-title">Experiencia de Ejemplo</h4>
            <h6 class="text-muted card-subtitle mb-2">
              Nombre de la empresa
            </h6>
            <p class="text-dark card-text">
              Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
              justo odio, dapibus ac facilisis in, egestas eget quam.
              Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <img
              style="
                width: 5rem;
                height: 5rem;
                border-radius: 100%;
                border-style: solid;
                border-color: var(--bs-dark);
              "
              src="assets/img/work-from-home.png"
            />
            <h4 class="text-dark card-title">Experiencia de Ejemplo</h4>
            <h6 class="text-muted card-subtitle mb-2">
              Nombre de la empresa
            </h6>
            <p class="text-dark card-text">
              Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
              justo odio, dapibus ac facilisis in, egestas eget quam.
              Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <img
              style="
                width: 5rem;
                height: 5rem;
                border-radius: 100%;
                border-style: solid;
                border-color: var(--bs-dark);
              "
              src="assets/img/work-from-home.png"
            />
            <h4 class="text-dark card-title">Experiencia de Ejemplo</h4>
            <h6 class="text-muted card-subtitle mb-2">
              Nombre de la empresa
            </h6>
            <p class="text-dark card-text">
              Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
              justo odio, dapibus ac facilisis in, egestas eget quam.
              Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <img
              style="
                width: 5rem;
                height: 5rem;
                border-radius: 100%;
                border-style: solid;
                border-color: var(--bs-dark);
              "
              src="assets/img/work-from-home.png"
            />
            <h4 class="text-dark card-title">Experiencia de Ejemplo</h4>
            <h6 class="text-muted card-subtitle mb-2">
              Nombre de la empresa
            </h6>
            <p class="text-dark card-text">
              Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
              justo odio, dapibus ac facilisis in, egestas eget quam.
              Donec id elit non mi porta gravida at eget metus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
