<section class="py-4">
  <div class="container">
    <h2 class="text-center">Mi experiencia</h2>
    <a class="btn btn-dark btn-lg text-uppercase fw-bold text-center" role="button" href="/new-experiencia" *ngIf="isLogged" style="display: inline;">agregar experiencia&nbsp;<i class="fas fa-plus"></i></a>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 py-4 projects">
      <div class="col" *ngFor="let Experiencia of exp">
        <div class="card">
          <div class="card-body">
            <img
              style="
                width: 5rem;
                height: 5rem;
                border-radius: 100%;
                border-style: solid;
                border-color: var(--bs-dark);
              "
              src="assets/img/work-from-home.png"
            />
            <h4 class="text-dark card-title">{{ Experiencia.nombreExp }}</h4>
            <p class="text-dark card-text">
              {{ Experiencia.descripcionExp }}
            </p>
            <a class="card-link" role="button" routerLink="/edit-experiencia/{{Experiencia.id}}" *ngIf="isLogged"><i class="fas fa-pencil-alt"></i>Editar</a>
            <a class="card-link" (click)="delete(Experiencia.id)" *ngIf="isLogged"><i class="fas fa-skull-crossbones"></i>Eliminar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
