<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombreExp">Nombre de la experiencia</label>
          <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="nombreExp" required>
        </div>
        <div class="form-group">
          <label for="descripcionExp">Descripción de la experiencia</label>
          <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="descripcionExp" required>
        </div>
        <button type="submit" class="btn btn-dark btn-lg text-uppercase fw-bold text-center">Agregar Experiencia<i class="fas fa-plus"></i></button>
      </form>
    </div>
  </div>
</div>
